@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.cover-photo{
    height: 85vh;
    width: 100%;
}
h2{
    font-size: 2.1rem;
    font-weight: 800;
}
p{
    font-size: 1.3rem;
}
.console-cover{
    filter: drop-shadow(9px 9px 9px rgba(0, 0, 0, 0.25));
border-radius: 15px;
}
.inner-flex{
    padding-left: 4%;
}